.home_page{
    display: flex;
    flex-direction:'row';
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #EAE7DC;
    margin:'10px';
    padding:'10em';
    border-radius: 5px;
  }
