@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');

#app {
  height: 100%;
}

body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Noto Sans Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}