.landing-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #eae7dc;

  .login-container,
  .signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 1.5rem;
      color: #8e8d8a;
    }

    // label of the textfield & when focused
    .MuiFormLabel-root,
    .MuiFormLabel-root.Mui-focused {
      color: #8e8d8a !important;
    }

    // outline of the textfield
    .MuiOutlinedInput-notchedOutline {
      border-color: #8e8d8a !important;
    }

    // input text of the textfield
    .MuiInputBase-root {
      color: #0b0c10 !important;
    }

    // input field of the textfield
    fieldset {
      background-color: transparent !important;
    }

    #password-helper-text {
      position: absolute;
      width: 50%;
      left: 100%;
    }

    .button-container {
      display: flex;
      justify-content: space-between;
      width: 75%;
      margin-top: 20px;

      .login-button,
      .signup-button {
        display: flex;
        background-color: #e98074;
        padding: 20px 25px;
        border-radius: 5px;
        cursor: pointer;
        color: #d7fbe8;
        font-weight: 100;

        &:hover {
          background-color: #e85a4f;
        }

        &:active {
          transform: scale(0.95);
        }
      }
    }
  }
}
