.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .left-container, .right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}